:root {
  --first-color: #1a3116;
  --second-color: #d66332;
  --text-dark: #1f1e1e;
  --text-light: #fff;
  --bg-first: #1a3116;
  --bg-second: #d66332;
  --bg-dark: #1f1e1e;
  --bg-light: #fff;
  --paddingY: 3rem;
  --paddingX: 3rem;
  --margin: auto
; }

.secondary-title {
  font-size: 1.8rem;
  line-height: 2.2rem; }
  @media screen and (min-width: 768px) {
    .secondary-title {
      font-size: 2.2rem;
      line-height: 2.6rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .secondary-title {
      font-size: 2.5rem;
      line-height: 2.9rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) and (min-width: 1250px) {
    .secondary-title {
      font-size: 3rem;
      line-height: 3.4rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) and (min-width: 1250px) and (min-width: 1400px) {
    .secondary-title {
      font-size: 3.5rem;
      line-height: 3.9rem; } }

.description {
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: .8rem;
  font-size: 0.9rem; }
  @media screen and (min-width: 1024px) {
    .description {
      font-size: 1rem;
      line-height: 1.7rem; } }

.container {
  width: 90%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1250px) {
    .container {
      width: 85%; } }

.hover-btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hover-btn:before {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    -webkit-transition: width .5s, margin-right .5s;
    -o-transition: width .5s, margin-right .5s;
    transition: width .5s, margin-right .5s;
    background-color: #fff; }
  @media screen and (min-width: 1024px) {
    .hover-btn:hover:before {
      margin-right: 1rem;
      width: 40px; } }

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .button_container .button {
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.2);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.2);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

.first-color {
  color: var(--text-light);
  background-color: var(--first-color); }

.second-color {
  color: var(--text-light);
  background-color: var(--second-color); }

.paddingY {
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY); }
  @media screen and (min-width: 1024px) {
    .paddingY {
      --paddingY: 6rem
    ; } }

*:after,
*:before,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif; }

p,
a,
span,
select,
textarea,
li, ul {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

iframe {
  display: block;
  border: 0; }

input, textarea, select {
  outline: none;
  border: 0;
  padding: .5rem; }

textarea {
  resize: none; }

.delay-1 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.delay-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.delay-3 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

header {
  width: 100%;
  position: fixed;
  z-index: 9; }
  @media screen and (min-width: 1024px) {
    header {
      -webkit-box-shadow: unset;
      box-shadow: unset;
      background-color: transparent;
      position: absolute;
      padding-top: 1rem;
      padding-bottom: 1rem; } }
  header .header__contenedor {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      header .header__contenedor {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 0;
        padding-bottom: 0; } }
    header .header__contenedor--logotipo {
      position: relative;
      z-index: 2; }
      header .header__contenedor--logotipo a {
        background-image: url(../../public/img/logotipo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100px;
        height: 55px;
        text-indent: -1000em;
        display: block; }
        @media screen and (min-width: 768px) {
          header .header__contenedor--logotipo a {
            width: 130px;
            height: 70px; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    header .header__contenedor--logotipo a {
      width: 170px;
      height: 50px; } }
    header .header__contenedor--icono {
      width: 30px;
      cursor: pointer;
      display: block;
      position: relative;
      z-index: 2; }
      header .header__contenedor--icono .icon-element {
        width: 100%;
        height: 2px;
        -webkit-transition: opacity .5s, -webkit-transform .5s;
        transition: opacity .5s, -webkit-transform .5s;
        -o-transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s, -webkit-transform .5s;
        background-color: #1f1e1e; }
        header .header__contenedor--icono .icon-element:nth-child(2) {
          margin-top: 5px; }
        header .header__contenedor--icono .icon-element:nth-child(3) {
          margin-top: 5px; }
      @media screen and (min-width: 1024px) {
        header .header__contenedor--icono {
          display: none; } }
    header .header__contenedor .iconClick .icon-element:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
      transform: rotate(45deg) translate(5px, 5px); }
    header .header__contenedor .iconClick .icon-element:nth-child(2) {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      opacity: 0; }
    header .header__contenedor .iconClick .icon-element:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(5px, -5px);
      -ms-transform: rotate(-45deg) translate(5px, -5px);
      transform: rotate(-45deg) translate(5px, -5px); }
    header .header__contenedor nav {
      position: fixed;
      width: 100%;
      background-color: #1f1e1e;
      top: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media screen and (min-width: 768px) {
        header .header__contenedor nav {
          top: 86px;
          height: calc(100% - 86px); } }
      @media screen and (min-width: 1024px) {
        header .header__contenedor nav {
          pointer-events: auto;
          opacity: 1;
          position: static;
          height: unset;
          width: unset;
          background-color: transparent; } }
      header .header__contenedor nav .nav__lista {
        width: 100%; }
        @media screen and (min-width: 1024px) {
          header .header__contenedor nav .nav__lista {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; } }
        header .header__contenedor nav .nav__lista--item {
          text-align: center; }
          header .header__contenedor nav .nav__lista--item a {
            color: #fff;
            font-size: 1.1rem;
            padding: 1rem .8rem;
            display: inline-block; }
            @media screen and (min-width: 1024px) {
              header .header__contenedor nav .nav__lista--item a {
                padding: 0 1rem;
                color: var(--text-dark);
                font-weight: 400;
                font-size: .9rem; } }
    header .header__contenedor .navTranslate {
      pointer-events: auto;
      opacity: 1; }

.clientes {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .clientes {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  .clientes .row {
    width: 90%;
    max-width: 1250px;
    margin-left: var(--margin);
    margin-right: var(--margin); }
    @media screen and (min-width: 1024px) {
      .clientes .row {
        width: 80%; } }

.owl-dots {
  display: none; }

footer {
  --paddingY: 2rem;
  width: 100%;
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  background-color: #1f1e1e; }
  footer .footer__contenedor--informacion {
    width: 100%; }
    @media screen and (min-width: 768px) {
      footer .footer__contenedor--informacion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    footer .footer__contenedor--informacion .logotipo {
      width: 180px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem; }
      @media screen and (min-width: 768px) {
        footer .footer__contenedor--informacion .logotipo {
          margin: unset; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    footer .footer__contenedor--informacion .logotipo {
      width: 200px; } }
      footer .footer__contenedor--informacion .logotipo img {
        width: 100%; }
    footer .footer__contenedor--informacion .informacion__lista {
      margin-top: 1.5rem;
      display: none; }
      @media screen and (min-width: 768px) {
        footer .footer__contenedor--informacion .informacion__lista {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          footer .footer__contenedor--informacion .informacion__lista--item a {
            color: #fff;
            padding-left: 1.5em;
            font-size: .9rem; } }
      @media screen and (min-width: 1024px) {
        footer .footer__contenedor--informacion .informacion__lista {
          margin-top: 0; } }
    footer .footer__contenedor--informacion:last-child {
      padding-top: .9rem;
      margin-top: .7rem;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      color: #fff;
      text-align: center;
      font-size: .9rem;
      font-weight: 300; }
      @media screen and (min-width: 768px) {
        footer .footer__contenedor--informacion:last-child {
          margin-top: 1rem; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    footer .footer__contenedor--informacion:last-child {
      padding-top: 1.1rem; } }
      footer .footer__contenedor--informacion:last-child .informacion__desarrollo {
        margin-top: .5rem; }
        @media screen and (min-width: 768px) {
          footer .footer__contenedor--informacion:last-child .informacion__desarrollo {
            margin-top: 0; } }
        footer .footer__contenedor--informacion:last-child .informacion__desarrollo a {
          color: #fff;
          font-weight: 700;
          margin-left: .5rem; }

body {
  overflow-x: hidden; }

.banner {
  --padding: 71px;
  --calc: 2rem;
  min-height: 100vh;
  padding-top: calc( var(--calc) + var(--padding));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(20%, var(--first-color)));
  background-image: -webkit-linear-gradient(transparent 80%, var(--first-color) 20%);
  background-image: -o-linear-gradient(transparent 80%, var(--first-color) 20%);
  background-image: linear-gradient(transparent 80%, var(--first-color) 20%); }
  @media screen and (min-width: 480px) {
    .banner {
      --calc: 4rem
  ; } }
  @media screen and (min-width: 768px) {
    .banner {
      --padding: 86px;
      --calc: 6rem
  ; } }
  @media screen and (min-width: 1024px) {
    .banner {
      --padding: 0px;
      --calc: 0px;
      height: 100vh;
      background-image: initial; } }
  .banner__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap); }
    @media screen and (min-width: 1024px) {
      .banner__container {
        --columns: 12;
        --gap: 30px;
        height: 100%; } }
    @media screen and (min-width: 1250px) {
      .banner__container {
        --gap: 40px
    ; } }
    @media screen and (min-width: 1024px) {
      .banner__container .banner__main {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / 7;
        padding-top: 82px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .banner__container .banner__main--container {
      color: var(--text-dark); }
      @media screen and (min-width: 1024px) {
        .banner__container .banner__main--container {
          margin-top: -50px; } }
      .banner__container .banner__main--container .banner__line {
        font-family: "Raleway", sans-serif;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: .5rem; }
        @media screen and (min-width: 768px) {
          .banner__container .banner__main--container .banner__line {
            font-size: 1.6rem; } }
        @media screen and (min-width: 1024px) {
          .banner__container .banner__main--container .banner__line {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 900; } }
        .banner__container .banner__main--container .banner__line:before {
          content: '';
          width: 20px;
          height: 3px;
          display: block;
          margin-right: .3rem;
          background-color: var(--first-color); }
          @media screen and (min-width: 768px) {
            .banner__container .banner__main--container .banner__line:before {
              width: 25px;
              margin-right: .5rem; } }
          @media screen and (min-width: 1024px) {
            .banner__container .banner__main--container .banner__line:before {
              width: 40px; } }
      .banner__container .banner__main--container .banner__title {
        font-size: 4rem;
        font-weight: 800;
        line-height: 3.8rem; }
        @media screen and (min-width: 768px) {
          .banner__container .banner__main--container .banner__title {
            font-size: 5rem;
            line-height: 4.8rem; } }
        @media screen and (min-width: 1024px) {
          .banner__container .banner__main--container .banner__title {
            text-transform: uppercase;
            font-size: 6rem;
            line-height: 5.8rem; } }
      .banner__container .banner__main--container .banner__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 1rem; }
        .banner__container .banner__main--container .banner__buttons > div:first-child {
          margin-right: .5rem; }
        .banner__container .banner__main--container .banner__buttons > div:last-child a {
          background-color: transparent;
          border: 1px solid var(--first-color);
          color: var(--text-dark); }
          .banner__container .banner__main--container .banner__buttons > div:last-child a:before {
            background-color: var(--first-color); }
        .banner__container .banner__main--container .banner__buttons > div a {
          font-size: .9rem; }
    .banner__container .banner__img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      background-image: url(../../public/img/banner/bg-img.jpg); }
      @media screen and (min-width: 768px) {
        .banner__container .banner__img {
          height: 350px; } }
      @media screen and (min-width: 1024px) {
        .banner__container .banner__img {
          -ms-grid-column: 7;
          -ms-grid-column-span: 6;
          grid-column: 7 / 13;
          height: 100%; } }

.about {
  padding-bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, var(--first-color)), color-stop(20%, transparent));
  background-image: -webkit-linear-gradient(var(--first-color) 80%, transparent 20%);
  background-image: -o-linear-gradient(var(--first-color) 80%, transparent 20%);
  background-image: linear-gradient(var(--first-color) 80%, transparent 20%); }
  @media screen and (min-width: 1024px) {
    .about {
      padding-top: 0;
      height: 100vh;
      position: relative;
      background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, var(--first-color)), color-stop(30%, #fff));
      background-image: -webkit-linear-gradient(right, var(--first-color) 70%, #fff 30%);
      background-image: -o-linear-gradient(right, var(--first-color) 70%, #fff 30%);
      background-image: linear-gradient(-90deg, var(--first-color) 70%, #fff 30%); } }
  .about__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    height: 100%; }
    @media screen and (min-width: 1024px) {
      .about__container {
        --columns: 12;
        --gap: 30px
    ; } }
    @media screen and (min-width: 1250px) {
      .about__container {
        --gap: 40px
    ; } }
    .about__container .about__img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      height: 300px;
      background-image: url(../../public/img/about/bg-img.jpg); }
      @media screen and (min-width: 768px) {
        .about__container .about__img {
          height: 350px; } }
      @media screen and (min-width: 1024px) {
        .about__container .about__img {
          -ms-grid-column: 1;
          -ms-grid-column-span: 6;
          grid-column: 1 / 7;
          -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
          order: 0;
          height: 100%;
          margin-top: -80px; } }
    @media screen and (min-width: 1024px) {
      .about__container .about__main {
        -ms-grid-column: 7;
        -ms-grid-column-span: 6;
        grid-column: 7 / 13;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .about__container .about__main--container {
      color: var(--text-light); }
      @media screen and (min-width: 1024px) {
        .about__container .about__main--container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
      .about__container .about__main--container .about__title {
        font-size: 3.3rem;
        font-weight: 800;
        line-height: 3.1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media screen and (min-width: 768px) {
          .about__container .about__main--container .about__title {
            font-size: 4.5rem;
            line-height: 4.3rem; } }
        @media screen and (min-width: 1024px) {
          .about__container .about__main--container .about__title {
            font-size: 8rem;
            line-height: 7.8rem;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }
        .about__container .about__main--container .about__title br {
          display: none; }
          @media screen and (min-width: 1024px) {
            .about__container .about__main--container .about__title br {
              display: block; } }
        .about__container .about__main--container .about__title:before {
          content: '';
          width: 20px;
          height: 3px;
          display: block;
          margin-right: .3rem;
          background-color: var(--bg-light); }
          @media screen and (min-width: 768px) {
            .about__container .about__main--container .about__title:before {
              width: 25px;
              margin-right: .5rem; } }
          @media screen and (min-width: 1024px) {
            .about__container .about__main--container .about__title:before {
              width: 40px; } }
      @media screen and (min-width: 1024px) {
        .about__container .about__main--container .about__info {
          padding-left: 10rem; } }
      .about__container .about__main--container .about__info a {
        border: 1px solid var(--bg-light);
        background-color: transparent; }

.work {
  padding-bottom: 1rem; }
  @media screen and (min-width: 1024px) {
    .work {
      margin-top: 170px;
      padding-bottom: 200px;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, var(--first-color)), color-stop(30%, #fff));
      background-image: -webkit-linear-gradient(left, var(--first-color) 70%, #fff 30%);
      background-image: -o-linear-gradient(left, var(--first-color) 70%, #fff 30%);
      background-image: linear-gradient(90deg, var(--first-color) 70%, #fff 30%); } }
  .work__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap); }
    @media screen and (min-width: 1024px) {
      .work__container {
        --columns: 12; } }
    @media screen and (min-width: 1024px) {
      .work__container .work__main {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        position: relative; } }
    @media screen and (min-width: 1024px) {
      .work__container .work__main--container {
        position: absolute;
        z-index: 1;
        left: 0; } }
    .work__container .work__main--container .work__title {
      font-size: 3.3rem;
      font-weight: 800;
      line-height: 3.1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: var(--text-dark); }
      @media screen and (min-width: 768px) {
        .work__container .work__main--container .work__title {
          font-size: 4.5rem;
          line-height: 4.3rem; } }
      @media screen and (min-width: 1024px) {
        .work__container .work__main--container .work__title {
          font-size: 8rem;
          line-height: 7.8rem;
          text-transform: uppercase;
          color: var(--text-light); } }
      .work__container .work__main--container .work__title br {
        display: none; }
        @media screen and (min-width: 1024px) {
          .work__container .work__main--container .work__title br {
            display: block; } }
      .work__container .work__main--container .work__title:before {
        content: '';
        width: 20px;
        height: 3px;
        display: block;
        margin-right: .3rem;
        background-color: var(--first-color); }
        @media screen and (min-width: 768px) {
          .work__container .work__main--container .work__title:before {
            width: 25px;
            margin-right: .5rem; } }
        @media screen and (min-width: 1024px) {
          .work__container .work__main--container .work__title:before {
            width: 40px;
            background-color: var(--bg-light); } }
    .work__container .work__img {
      display: none;
      height: 300px; }
      @media screen and (min-width: 1024px) {
        .work__container .work__img {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          display: block;
          height: 550px;
          -ms-grid-column: 3;
          -ms-grid-column-span: 10;
          grid-column: 3 / 13;
          margin-top: -200px;
          background-image: url(../../public/img/work/bg-img.jpg); } }

.gallery {
  padding-bottom: 3rem;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .gallery {
      margin-top: -160px; } }
  .gallery__container {
    --columns: 1;
    --gap: 20px;
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap); }
    @media screen and (min-width: 768px) {
      .gallery__container {
        --columns: 3;
        margin-top: 3rem; } }
    @media screen and (min-width: 1024px) {
      .gallery__container .gallery__item:hover {
        -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.4);
        box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.4); }
        .gallery__container .gallery__item:hover img {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); } }
    .gallery__container .gallery__item--link {
      display: inline-block;
      height: 200px;
      width: 100%; }
      @media screen and (min-width: 480px) {
        .gallery__container .gallery__item--link {
          height: 250px; } }
      @media screen and (min-width: 768px) {
        .gallery__container .gallery__item--link {
          height: 170px; } }
      @media screen and (min-width: 1024px) {
        .gallery__container .gallery__item--link {
          height: 220px;
          overflow: hidden; } }
      .gallery__container .gallery__item--link img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
    .gallery__container .gallery__item--info {
      padding: 1rem; }
      @media screen and (min-width: 768px) {
        .gallery__container .gallery__item--info {
          text-align: center; } }
      @media screen and (min-width: 1024px) {
        .gallery__container .gallery__item--info h3 {
          font-size: 1.3rem; } }

.contact {
  background-color: var(--first-color); }
  @media screen and (min-width: 1024px) {
    .contact {
      margin-top: 4.5rem;
      margin-bottom: 4rem;
      background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, var(--first-color)), color-stop(30%, #fff));
      background-image: -webkit-linear-gradient(right, var(--first-color) 70%, #fff 30%);
      background-image: -o-linear-gradient(right, var(--first-color) 70%, #fff 30%);
      background-image: linear-gradient(-90deg, var(--first-color) 70%, #fff 30%); } }
  .contact__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap); }
    @media screen and (min-width: 1024px) {
      .contact__container {
        --columns: 12;
        --gap: 30px
    ; } }
    @media screen and (min-width: 1250px) {
      .contact__container {
        --gap: 40px
    ; } }
    .contact__container .contact__img {
      display: none;
      height: 300px; }
      @media screen and (min-width: 1024px) {
        .contact__container .contact__img {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          -ms-grid-column: 1;
          -ms-grid-column-span: 7;
          grid-column: 1 / 8;
          display: block;
          height: 100vh;
          background-image: url(../../public/img/contact/bg-img.jpg); } }
    @media screen and (min-width: 1024px) {
      .contact__container .contact__main {
        -ms-grid-column: 8;
        -ms-grid-column-span: 5;
        grid-column: 8 / 13;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .contact__container .contact__main--container {
      color: var(--text-light); }
      .contact__container .contact__main--container .contact__title {
        font-size: 3.3rem;
        font-weight: 800;
        line-height: 3.1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media screen and (min-width: 768px) {
          .contact__container .contact__main--container .contact__title {
            font-size: 4.5rem;
            line-height: 4.3rem; } }
        @media screen and (min-width: 1024px) {
          .contact__container .contact__main--container .contact__title {
            font-size: 8rem;
            line-height: 7.8rem;
            text-transform: uppercase; } }
        .contact__container .contact__main--container .contact__title:before {
          content: '';
          width: 20px;
          height: 3px;
          display: block;
          margin-right: .3rem;
          background-color: var(--bg-light); }
          @media screen and (min-width: 768px) {
            .contact__container .contact__main--container .contact__title:before {
              width: 25px;
              margin-right: .5rem; } }
          @media screen and (min-width: 1024px) {
            .contact__container .contact__main--container .contact__title:before {
              width: 40px;
              background-color: var(--bg-light); } }
        .contact__container .contact__main--container .contact__title br {
          display: none; }
          @media screen and (min-width: 1024px) {
            .contact__container .contact__main--container .contact__title br {
              display: block; } }
      .contact__container .contact__main--container .contact__form {
        --columns: 1;
        --gap: 20px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[var(--columns)];
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-gap: var(--gap);
        margin-top: 2rem; }
        @media screen and (min-width: 768px) {
          .contact__container .contact__main--container .contact__form {
            margin-top: 3rem;
            --gap: 30px
          ; } }
        @media screen and (min-width: 1024px) {
          .contact__container .contact__main--container .contact__form {
            margin-top: 2rem;
            --gap: 20px
          ; } }
        .contact__container .contact__main--container .contact__form input, .contact__container .contact__main--container .contact__form textarea {
          width: 100%;
          border-bottom: 1px solid var(--bg-light);
          color: var(--text-light);
          background-color: transparent; }
        .contact__container .contact__main--container .contact__form input::-webkit-input-placeholder,
        .contact__container .contact__main--container .contact__form textarea::-webkit-input-placeholder {
          color: var(--text-light); }
        .contact__container .contact__main--container .contact__form input:-ms-input-placeholder,
        .contact__container .contact__main--container .contact__form textarea:-ms-input-placeholder {
          color: var(--text-light); }
        .contact__container .contact__main--container .contact__form input::-ms-input-placeholder,
        .contact__container .contact__main--container .contact__form textarea::-ms-input-placeholder {
          color: var(--text-light); }
        .contact__container .contact__main--container .contact__form input::placeholder,
        .contact__container .contact__main--container .contact__form textarea::placeholder {
          color: var(--text-light); }
        .contact__container .contact__main--container .contact__form a {
          border: 1px solid var(--bg-light); }

.modal {
  padding: 20px !important; }
  .modal__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap); }
    @media screen and (min-width: 768px) {
      .modal__container {
        --columns: 2
    ; } }
    @media screen and (min-width: 1024px) {
      .modal__container {
        --columns: 4
    ; } }
    .modal__container a {
      display: inline-block;
      height: 250px; }
      @media screen and (min-width: 1024px) {
        .modal__container a {
          height: 300px; } }
      .modal__container a img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
  .modal .btn-close {
    --medidas: 50px;
    --position: 10px;
    background: var(--bg-first);
    color: var(--text-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    width: var(--medidas);
    height: var(--medidas);
    position: absolute;
    top: var(--position);
    right: var(--position); }
