footer
    .footer__contenedor.container
        .footer__contenedor--informacion
            a(href="#inicio" class="logotipo")
                img(src="public/img/logotipo-alt.svg", alt="Logotipo")
            ul.informacion__lista
                li.informacion__lista--item: a(href="#banner") Inicio
                li.informacion__lista--item: a(href="#about") Sobre mí
                li.informacion__lista--item: a(href="#work") Trabajos
                li.informacion__lista--item: a(href="#contact") Contacto
                li.informacion__lista--item: a(href="#" target="_blank").socicon-facebook
                li.informacion__lista--item: a(href="#" taget="_blank").socicon-youtube
        .footer__contenedor--informacion
            p.informacion__copy.description Copyright © Todos los Derechos Reservados
            p.informacion__desarrollo.description Desarrollado por:
                a(href="https://chilcanoweb.com/") Chilcanoweb
