header
    .header__contenedor.container
        h1.header__contenedor--logotipo
            a(href="index.html") Daniel Apuy
        .header__contenedor--icono#icon
            .icon-element
            .icon-element
            .icon-element
        nav#nav
            ul.nav__lista
                li.nav__lista--item: a(href="#banner" class="item__link") Inicio
                li.nav__lista--item: a(href="#about" class="item__link") Sobre mí
                li.nav__lista--item: a(href="#work" class="item__link") Trabajos
                li.nav__lista--item: a(href="#contact" class="item__link") Contacto