*:after,
*:before,
*{
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $fuente-principal;
}

p,
a,
span,
select,
textarea,
li,ul{font-family: $fuente-secundaria}

a{text-decoration: none}

ul{list-style: none}

img{
    display   : block;
    max-width : 100%;
}

iframe{
    display: block;
    border: 0
}

input,textarea,select{
    outline: none;
    border: 0;
    padding: .5rem;
}

textarea{resize: none}

.delay-1{animation-delay: .5s}
.delay-2{animation-delay: 1s}
.delay-3{animation-delay: 1.5s}


