body{
  overflow-x: hidden
}

//--------------------
//--------------------
//--- B A N N E R

.banner{
  --padding: 71px;
  --calc: 2rem;
  min-height : 100vh;
  padding-top: calc( var(--calc) + var(--padding) );
  background-image: linear-gradient(
                    transparent 80%,
                    var(--first-color) 20%);
  @include from ($m1){
    --calc: 4rem
  }
  @include from ($m2){
    --padding: 86px;
    --calc: 6rem
  }
  @include from ($m3){
    --padding: 0px;
    --calc: 0px;
    height: 100vh;
    background-image: initial
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    @include from ($m3){
      --columns: 12;
      --gap: 30px;
      height: 100%;
    }
    @include from ($m4){
      --gap: 40px
    }
    .banner__main{
      @include from ($m3){
        grid-column: 1 / 7;
        padding-top: 82px;
        display: flex;
        align-items: center;
      } 
      &--container{
        color: var(--text-dark);
        @include from ($m3){
          margin-top: -50px
        }
        .banner__line{
          font-family: $fuente-principal;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-weight: 700;
          margin-bottom: .5rem;
          @include from ($m2){
           font-size: 1.6rem
          }
          @include from ($m3){
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 900
          }
          &:before{
            content: '';
            width: 20px;
            height: 3px;
            display: block;
            margin-right: .3rem;
            background-color: var(--first-color);
            @include from ($m2){
              width: 25px;
              margin-right: .5rem
            }
            @include from ($m3){
              width: 40px;
            }
          }
        }
        .banner__title{
          font-size: 4rem;
          font-weight: 800;
          line-height: 3.8rem;
          @include from ($m2){
            font-size: 5rem;
            line-height: 4.8rem
          }
          @include from ($m3){
            text-transform: uppercase;
            font-size: 6rem;
            line-height: 5.8rem
          }
        }
        .banner__buttons{
          display: flex;
          margin-top: 1rem;
          & > div{
            &:first-child{
              margin-right: .5rem
            }
            &:last-child{
              a{
                background-color: transparent;
                border: 1px solid var(--first-color);
                color: var(--text-dark);
                &:before{
                  background-color: var(--first-color)
                }
              }
            }
            a{
              font-size: .9rem;
            }
          }
        }
      }
    }
    .banner__img{
      @include bg-cont;
      height: 300px;
      background-image: url(../../public/img/banner/bg-img.jpg);
      @include from ($m2){
        height: 350px
      }
      @include from ($m3){
        grid-column: 7 / 13;
        height: 100%;
      } 
    }
  }
}

//--------------------
//--------------------
//--- A B O U T 

.about{
  padding-bottom: 0;
  background-image: linear-gradient(
                    var(--first-color) 80%,
                    transparent 20%);
  @include from ($m3){
    padding-top: 0;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(
                    -90deg,
                    var(--first-color) 70%,
                    #fff 30%);
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    height: 100%;
    @include from ($m3){
      --columns: 12;
      --gap: 30px
    }
    @include from ($m4){
      --gap: 40px
    }
    .about__img{
      @include bg-cont;
      order: 1;
      height: 300px;
      background-image: url(../../public/img/about/bg-img.jpg);
      @include from ($m2){
        height: 350px
      }
      @include from ($m3){
        grid-column: 1 / 7;
        order: 0;
        height: 100%;
        margin-top: -80px
      }
    }
    .about__main{
      @include from ($m3){
        grid-column: 7 / 13;
        display: flex;
        align-items: center
      }
      &--container{
        color: var(--text-light);
        @include from ($m3){
          display: flex;
        }
        .about__title{
          font-size: 3.3rem;
          font-weight: 800;
          line-height: 3.1rem;
          display: flex;
          align-items: center;
          @include from ($m2){
            font-size: 4.5rem;
            line-height: 4.3rem
          }
          @include from ($m3){
            font-size: 8rem;
            line-height: 7.8rem;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          br{
            display: none;
            @include from ($m3){
              display: block
            }
          }
          &:before{
            content: '';
            width: 20px;
            height: 3px;
            display: block;
            margin-right: .3rem;
            background-color: var(--bg-light);
            @include from ($m2){
              width: 25px;
              margin-right: .5rem
            }
            @include from ($m3){
              width: 40px
            }
          }
        }
        .about__info{
          @include from ($m3){
            padding-left: 10rem;
          }
          a{
            border: 1px solid var(--bg-light);
            background-color: transparent
          }
        }
      }
    }
  }
}

//--------------------
//--------------------
//--- W O R K

.work{
  padding-bottom: 1rem;
  @include from ($m3){
    margin-top: 170px;
    padding-bottom: 200px;
    background-image: linear-gradient(
      90deg,
      var(--first-color) 70%,
      #fff 30%);
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    @include from ($m3){
      --columns: 12;
    }
    .work__main{
      @include from ($m3){
        grid-column: 1 / 3;
        position: relative;
      }
      &--container{
        @include from ($m3){
          position: absolute;
          z-index: 1;
          left: 0
        }
        .work__title{
          font-size: 3.3rem;
          font-weight: 800;
          line-height: 3.1rem;
          display: flex;
          align-items: center;
          color: var(--text-dark);
          @include from ($m2){
            font-size: 4.5rem;
            line-height: 4.3rem
          }
          @include from ($m3){
            font-size: 8rem;
            line-height: 7.8rem;
            text-transform: uppercase;
            color: var(--text-light);
          }
          br{
            display: none;
            @include from ($m3){
              display: block
            }
          }
          &:before{
            content: '';
            width: 20px;
            height: 3px;
            display: block;
            margin-right: .3rem;
            background-color: var(--first-color);
            @include from ($m2){
              width: 25px;
              margin-right: .5rem
            }
            @include from ($m3){
              width: 40px;
              background-color: var(--bg-light);
            }
          }
        }
      }
    }
    .work__img{
      display: none;
      height: 300px;
      @include from ($m3){
        @include bg-cont;
        display: block;
        height: 550px;
        grid-column: 3 / 13;
        margin-top: -200px;
        background-image: url(../../public/img/work/bg-img.jpg)
      }
    }
  }
}

.gallery{
  padding-bottom: 3rem;
  overflow: hidden;
  @include from ($m3){
    margin-top: -160px;
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    @include from ($m2){
      --columns: 3;
      margin-top: 3rem
    }
    .gallery__item{
      @include from ($m3){
        &:hover{
          box-shadow: 0 0 10px 1px rgba($bg-dark, .4);
          img{
            transform: scale(1.1)
          }
        }
      }
      &--link{
        display: inline-block;
        height: 200px;
        width: 100%;
        @include from ($m1){
          height: 250px
        }
        @include from ($m2){
          height: 170px
        }
        @include from ($m3){
          height: 220px;
          overflow: hidden;
        }
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: transform .5s;
        }
      }
      &--info{
        padding: 1rem;
        @include from ($m2){
          text-align: center
        }
        h3{
          @include from ($m3){
            font-size: 1.3rem
          }
        }
      }
    }
  }
}

//--------------------
//--------------------
//--- C O N T A C T

.contact{
  background-color: var(--first-color);
  @include from ($m3){
    margin-top: 4.5rem;
    margin-bottom: 4rem;
    background-image: linear-gradient(
      -90deg,
      var(--first-color) 70%,
      #fff 30%);
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    @include from ($m3){
      --columns: 12;
      --gap: 30px
    }
    @include from ($m4){
      --gap: 40px
    }
    .contact__img{
      display: none;
      height: 300px;
      @include from ($m3){
        @include bg-cont;
        grid-column: 1 / 8;
        display: block;
        height: 100vh;
        background-image: url(../../public/img/contact/bg-img.jpg)
      }
    }
    .contact__main{
      @include from ($m3){
        grid-column: 8 / 13;
        display: flex;
        align-items: center
      }
      &--container{
        color: var(--text-light);
        .contact__title{
          font-size: 3.3rem;
          font-weight: 800;
          line-height: 3.1rem;
          display: flex;
          align-items: center;
          @include from ($m2){
            font-size: 4.5rem;
            line-height: 4.3rem
          }
          @include from ($m3){
            font-size: 8rem;
            line-height: 7.8rem;
            text-transform: uppercase;
          }
          &:before{
            content: '';
            width: 20px;
            height: 3px;
            display: block;
            margin-right: .3rem;
            background-color: var(--bg-light);
            @include from ($m2){
              width: 25px;
              margin-right: .5rem
            }
            @include from ($m3){
              width: 40px;
              background-color: var(--bg-light);
            }
          }
          br{
            display: none;
            @include from ($m3){
              display: block
            }
          }
        }
        .contact__form{
          --columns: 1;
          --gap: 20px;
          display: grid;
          grid-template-columns: repeat(var(--columns), 1fr);
          grid-gap: var(--gap);
          margin-top: 2rem;
          @include from ($m2){
            margin-top: 3rem;
            --gap: 30px
          }
          @include from ($m3){
            margin-top: 2rem;
            --gap: 20px
          }
          input, textarea{
            width: 100%;
            border-bottom: 1px solid var(--bg-light);
            color: var(--text-light);
            background-color: transparent;
          }
          input::placeholder,
          textarea::placeholder{
            color: var(--text-light)
          }
          a{
            border: 1px solid var(--bg-light)
          }
        }
      }
    }
  }
}

.modal{
  padding: 20px !important;
  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
    grid-gap: var(--gap);
    @include from ($m2){
      --columns: 2
    }
    @include from ($m3){
      --columns: 4
    }
    a{
      display: inline-block;
      height: 250px;
      @include from ($m3){
        height: 300px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover
      }
    }
  }
  .btn-close{
    --medidas: 50px;
    --position: 10px;
    background: var(--bg-first);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    width: var(--medidas);
    height: var(--medidas);
    position: absolute;
    top: var(--position);
    right: var(--position);
  }
}