extends ../config/template
append config
    - NombPagina = "Fotógrafo"
prepend styles
block contenido

    //-- B A N N E R
    //--------------
    .banner#banner
        .banner__container.container
            .banner__main
                .banner__main--container
                    span.banner__line.wow.fadeIn.delay-1  Soy
                    h2.banner__title.wow.fadeInUp Daniel Apuy
                    .banner__buttons.wow.fadeInUp.delay-2 
                        +button(
                            'first-color',
                            '#about',
                            'Conóceme'
                        )
                        +button(
                            'first-color',
                            '#contact',
                            'Contáctame'
                        )
            .banner__img

    //-- A B O U T 
    //--------------
    .about.paddingY#about
        .about__container.container
            .about__img.wow.fadeInUp
            .about__main
                .about__main--container
                    h2.about__title.wow.fadeIn.delay-1  Ho
                        br
                        | la
                    .about__info
                        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugiat placeat magni consectetur magnam, molestiae aut neque dignissimos cum ut id, iusto facere ipsam, consequatur quibusdam? Id quis quam doloremque impedit dolorem. Delectus praesentium perspiciatis laboriosam impedit aut aperiam sequi quae dolore atque rerum! Fugit cum nemo dolore aperiam quod.
                        +button(
                            'second-color',
                            'index.html',
                            'Trabajos'
                        )

    //-- W O R K 
    //--------------
    .work.paddingY
        .work__container.container
            .work__main
                .work__main--container
                    h2.work__title.wow.fadeIn.delay-1 Tra
                        br
                        | bajos
            .work__img.wow.fadeInRight
    .gallery
        .gallery__container.container
            .gallery__item.wow.fadeInUp.delay-1 
                a(href='javascript:;' data-fancybox="" data-src="#trueModal" data-modal="true").gallery__item--link
                    img(src='public/img/work/work-1/img-banner.jpg' alt='')
                .gallery__item--info
                    h3 Lorem ipsum dolor
                    p.description Lorem ipsum dolor sit amet consectetur
            .gallery__item.wow.fadeInUp.delay-2
                a(href='javascript:;' data-fancybox="" data-src="#trueModal2" data-modal="true").gallery__item--link
                    img(src='public/img/work/work-2/img-banner.jpg' alt='')
                .gallery__item--info
                    h3 Sit amet consectetur
                    p.description Lorem ipsum dolor sit amet consectetur
            .gallery__item.wow.fadeInUp.delay-3 
                a(href='javascript:;' data-fancybox="" data-src="#trueModal3" data-modal="true").gallery__item--link
                    img(src='public/img/work/work-3/img-banner.jpg' alt='')
                .gallery__item--info
                    h3 Dolorem quasi tempore
                    p.description Lorem ipsum dolor sit amet consectetur

    //-- C O N T A C T
    //--------------  
    .contact.paddingY#contact
        .contact__container.container
            .contact__img
            .contact__main 
                .contact__main--container
                    h2.contact__title.wow.fadeIn.delay-1 Con
                        br
                        | tacto
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, deleniti.
                    form.contact__form
                        input(type='text' name='nombre' placeholder='Nombre y Apellido')
                        input(type='email' name='email' placeholder='E-mail')
                        input(type='text' name='celular' placeholder='Celular')
                        textarea(placeholder='Escríbeme tu consulta')
                        +button(
                            'first-color',
                            '#',
                            'Contáctame'
                        )


    //-- M O D A L
    //-------------- 
    .modal#trueModal.fancybox-content(style='display: none')
        .modal__container
            a(href='public/img/work/work-1/gallery-1.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-1.jpg' alt='')
            a(href='public/img/work/work-1/gallery-2.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-2.jpg' alt='')
            a(href='public/img/work/work-1/gallery-3.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-3.jpg' alt='')
            a(href='public/img/work/work-1/gallery-4.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-4.jpg' alt='')
            a(href='public/img/work/work-1/gallery-5.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-5.jpg' alt='')
            a(href='public/img/work/work-1/gallery-6.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-1/gallery-6.jpg' alt='')
        a.btn-close.btn.btn-primary.fas.fa-times(data-fancybox-close='')
    .modal#trueModal2.fancybox-content(style='display: none')
        .modal__container
            a(href='public/img/work/work-2/gallery-1.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-1.jpg' alt='')
            a(href='public/img/work/work-2/gallery-2.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-2.jpg' alt='')
            a(href='public/img/work/work-2/gallery-3.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-3.jpg' alt='')
            a(href='public/img/work/work-2/gallery-4.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-4.jpg' alt='')
            a(href='public/img/work/work-2/gallery-5.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-5.jpg' alt='')
            a(href='public/img/work/work-2/gallery-6.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-6.jpg' alt='')
        a.btn-close.btn.btn-primary.fas.fa-times(data-fancybox-close='')
    .modal#trueModal3.fancybox-content(style='display: none')
        .modal__container
            a(href='public/img/work/work-3/gallery-1.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-1.jpg' alt='')
            a(href='public/img/work/work-3/gallery-2.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-2.jpg' alt='')
            a(href='public/img/work/work-3/gallery-3.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-2/gallery-3.jpg' alt='')
            a(href='public/img/work/work-3/gallery-4.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-4.jpg' alt='')
            a(href='public/img/work/work-3/gallery-5.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-5.jpg' alt='')
            a(href='public/img/work/work-3/gallery-6.jpg' data-fancybox="images" data-caption="My caption")
                img(src='public/img/work/work-3/gallery-6.jpg' alt='')
        a.btn-close.btn.btn-primary.fas.fa-times(data-fancybox-close='')


prepend script-final
