:root
{

  // C O L O R S
  --first-color     : #1a3116;
  --second-color : #d66332;
  // T E X T
  --text-dark       : #1f1e1e;
  --text-light      : #fff;
  // B A C K G R O U N D
  --bg-first         : #1a3116;
  --bg-second    : #d66332;
  --bg-dark         : #1f1e1e;
  --bg-light        : #fff;
  // P A D D I N G
  --paddingY        : 3rem;
  --paddingX        : 3rem;
  // M A R G I N 
  --margin: auto
}

// C O L O R S
$first-color     : #1a3116;
$second-color : #d66332;
// T E X T
$text-dark       : #1f1e1e;
$text-light    : #fff;
// B A C K G R O U N D
$bg-first: #1a3116;
$bg-second: #d66332;
$bg-dark: #1f1e1e;
$bg-light: #fff;
// F O N T - F A M I L Y
$fuente-principal : 'Raleway', sans-serif;
$fuente-secundaria:'Roboto', sans-serif;

// ----------
